/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* utilities */
.clearfix::after{
    content: "";
    display: table;
    clear: both;    
}

/* debug */
.debug{
    height: 100px;
}
.debug *{
    height: 100px;
}

/* common */
body{
    width: 80%;
    margin: auto;
}

/* #site-sections */
#site-header{
    background-color: aqua;
}