/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* utilities */
.clearfix{
    content: "";
    display: table;
    clear: both;    
}

/* debug */
.debug{
    height: 100px;
}

/* common */
