/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* debug [LAYOUT ONLY] */
/* body > header{
    height: 100px;
}
main section.heroshot{
    height: 400px;
}
body header.section-title{
    height: 100px;
}
.main-content > * {
    height:400px;
}
body>footer{
    height: 50px;
} */

/* utilities */
.clearfix::after{
    content: "";
    display: table;
    clear: both;    
}

/* common */
body{
    width: 80%;
    margin: auto;
}
main>*{
    margin:1.2rem 0;
}
h1{
    font-size: 2.5rem;
}
p{
    color:grey;
    font-size: 20px;
}

.white-container{
    color: white;
    width:50%;
    /* margin: 0 0 2rem 2rem; NON EREDITA LA POSIZIONE DEL GENITORE!!! */
}

/* #site-sections */
/* #site-header{
    background-color: aqua;
} */
#site-footer{
    font-size: 20px;
    text-align: center;
    /* background-color: salmon; */
}

/* HEADER*/
.logo{
    width:200px;
    padding-bottom: 1.2rem ;
}
nav>a{
    display: inline-block;
    text-decoration: none;
    color: grey;
    padding: 0 1rem 1rem 0;
}
nav>a:hover{
    /* font-weight: 600; */
    color: rgb(61, 61, 61);
}

/* MAIN */
.heroshot{
    height: 600px;
    border-radius: 10px;
    background:rgba(0, 0, 0, 0.26);
    background-blend-mode: darken;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

/* --> main-content */ 
.sb{
    float:left;
    width:25%;
    /* background-color: yellow; */
}
.central{
    float:left;
    width:47%;
    margin: 0 1.5%;
    /* background-color: pink; */
}
.main-content img{
    height:200px;
}
.main-content h2{
    font: 300 20px black;
}
.content-img{
    height: 200px;
    border-radius: 10px;
    background:rgba(0, 0, 0, 0.26);
    background-blend-mode: darken;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

/* site-footer */
.red{
    color:red;
}