/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* utilities */
.clearfix::after{
    content: "";
    display: table;
    clear: both;    
}

/* debug [LAYOUT ONLY] */
body > header{
    height: 100px;
}
body section.heroshot{
    height: 400px;
}
body header.section-title{
    height: 100px;
}
.main-content > * {
    height:400px;
}
body>footer{
    height: 50px;
}

/* common */
body{
    width: 80%;
    margin: auto;
}

/* #site-sections */
#site-header{
    background-color: aqua;
}
#site-footer{
    display:inline-block;
    width:100%;
    background-color: salmon;
}

/* site-main inside structure */
.heroshot{
    background-color: violet;
}
.section-title{
    background-color: yellowgreen;
}
/* --> main-content */ 
.sb{
    float:left;
    width:25%;
    background-color: yellow;
}
.central{
    float:left;
    width:48%;
    margin: 0 1%;
    background-color: pink;
}
